:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-background: #4338ca; 
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.welcome-description {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}


.card-container {
  max-width: 600px;
  margin: 0 auto;
}
